In [8]:
import pandas as pd

df = pd.read_csv('HW1-data.csv')
df.head()

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

### getting top 3 ratings

In [9]:
avaragesDict={}
for col in df:
    avaragesDict[col] = df[col].mean()
sortedList = sorted(avaragesDict.items(), key=lambda x: x[1])
sortedList.reverse()
sortedList=sortedList[1:-1]
sortedList[0:3]
#result of top rated:
#    (318: Shawshank Redemption, The (1994)',           3.6), 
#    ('260: Star Wars: Episode IV - A New Hope (1977)', 3.2666666666666666), 
#    ('541: Blade Runner (1982)',                       3.222222222222222

[('318: Shawshank Redemption, The (1994)', 3.6),
 ('260: Star Wars: Episode IV - A New Hope (1977)', 3.2666666666666666),
 ('541: Blade Runner (1982)', 3.2222222222222223)]

### getting top 3 most rated

In [10]:
countDict={}
for col in df:
    countDict[col] = df[col].count()
sortedCountList= sorted(countDict.items(), key = lambda x: x[1])
sortedCountList.reverse()
sortedCountList=sortedCountList[2:]
sortedCountList[0:3]
#results:
#('1: Toy Story (1995)', 17)
#('593: Silence of the Lambs, The (1991)', 16)
#('260: Star Wars: Episode IV - A New Hope (1977)', 15)

[('1: Toy Story (1995)', 17),
 ('593: Silence of the Lambs, The (1991)', 16),
 ('260: Star Wars: Episode IV - A New Hope (1977)', 15)]

### getting top 3 most highly liked (more % of 4+ ratings)

In [11]:
likedDict={}
for col in df:
    likedDict[col] = df[col][df[col]>3].count()
sortedLikedList = sorted(likedDict.items(), key = lambda x: x[1])
sortedLikedList = sortedLikedList[1:-1]
sortedLikedList.reverse()
sortedLikedList[0:3]

[('260: Star Wars: Episode IV - A New Hope (1977)', 8),
 ('593: Silence of the Lambs, The (1991)', 7),
 ('318: Shawshank Redemption, The (1994)', 7)]

### getting top 3 movies most rated by people who also rated Toy Story (co-occurrence)

1 gives "percentage of people who rated this movie and also rated toy story out of all the people who rated this movie"

2 gives "percentage of people who rated toy story and also rated this movie out of all the people who rated toy story"

3 gives "the probability to pick a person that has rated both movies out of all the people who rated those movies"

(1) if few people watched this movie, the results could be bad because for ex "100% of the 2 people watched toy story"

(2) good indication of movies for people that watched toy story, but if "this" movie is very popular, it is easier for the percentage to go up, affected by simple popularity, not the perfect result.

In [16]:
coOcurrenceDict1={}
coOcurrenceDict2={}
matematicallyCorrectCoOcurrenceDict={}
for col in df:
    coOcurrenceDict1[col] = df[col][pd.notnull(df['1: Toy Story (1995)'])].count()/df[col].count()
    coOcurrenceDict2[col] = df[col][pd.notnull(df['1: Toy Story (1995)'])].count()/df['1: Toy Story (1995)'].count()
    matematicallyCorrectCoOcurrenceDict[col] = df[col][pd.notnull(df['1: Toy Story (1995)'])].count()/(df['1: Toy Story (1995)'].count() + df[col][~pd.notnull(df['1: Toy Story (1995)'])].count())
    
sortedSimpleCorrelList1 = sorted(coOcurrenceDict1.items(), key= lambda x: x[1])
sortedSimpleCorrelList1 = sortedSimpleCorrelList1[0:-3]
sortedSimpleCorrelList1.reverse()

sortedSimpleCorrelList2 = sorted(coOcurrenceDict2.items(), key= lambda x: x[1])
sortedSimpleCorrelList2 = sortedSimpleCorrelList2[0:-3]
sortedSimpleCorrelList2.reverse()

sortedSimpleCorrelList3 = sorted(matematicallyCorrectCoOcurrenceDict.items(), key= lambda x: x[1])
sortedSimpleCorrelList3 = sortedSimpleCorrelList3[0:-3]
sortedSimpleCorrelList3.reverse()

print(sortedSimpleCorrelList1[0:3], sep='\n')
print(sortedSimpleCorrelList2[0:3])
print(sortedSimpleCorrelList3[0:3])

TypeError: sequence item 0: expected str instance, tuple found

## getting top 3  movies most correlated to toy story

"Correlation measures the linear relationship between pairs of random variables."

Given a scatter plot of event1 x event2, if we can now draw a line passing through all the points such that the error between 
the points and the line is minimal, we say that the events are (linearly) correlated. A popular way of computing 
this line is to use the **Pearson coefficient.**

In [13]:
from scipy.stats.stats import pearsonr
df2 = df.iloc[: , 2:]
correlDict = {}
for col in df2:
    correlDict[col] = pearsonr(df2[col][pd.notnull(df['1: Toy Story (1995)']) & pd.notnull(df[col])], df2['1: Toy Story (1995)'][pd.notnull(df['1: Toy Story (1995)']) & pd.notnull(df[col])])[0]
sortedCorrelList = sorted(correlDict.items(), key = lambda x : x[1])
negCorrel = sortedCorrelList[0:3]
sortedCorrelList.reverse()
sortedCorrelList[1:4]

[('318: Shawshank Redemption, The (1994)', 0.8885233166386385),
 ('34: Babe (1995)', 0.8111071056538127),
 ('296: Pulp Fiction (1994)', 0.7098422141520241)]

In [14]:
# out of curiosity
negCorrel

[('2571: Matrix, The (1999)', -0.7219948723811553),
 ('1259: Stand by Me (1986)', -0.6103001034050513),
 ('593: Silence of the Lambs, The (1991)', -0.568257570707744)]

We could also calculate the correlation between the ratings of each movie and toy story, in regard to "rated or not" by substituting vote values by 1's, and nan's by 0's to measure the linear relationship between a person rating each movie x toy story.

## difference in rating:  by gender

In [15]:
dfMale = df.iloc[: , 2:][df.iloc[: , 1] == 0]
dfFemale = df.iloc[: , 2:][df.iloc[: , 1] == 1]
meanMaleDict={}
meanFemaleDict={}
summationMale = 0
countMale = 0
summationFemale = 0
countFemale = 0
for col in dfMale:
    meanMaleDict[col] = dfMale[col].mean()
    meanFemaleDict[col] = dfFemale[col].mean()
    countMale = countMale + dfMale[col].count()
    summationMale = summationMale + dfMale[col].sum()
    countFemale = countFemale + dfFemale[col].count()
    summationFemale = summationFemale + dfFemale[col].sum()
maleList = list(meanMaleDict.items())
femaleList = list(meanFemaleDict.items())
sortedDifMaleLike = []
sortedDifFemaleLike = []
for maleAvgTuple, femaleAvgTuple in zip(maleList, femaleList):
    sortedDifMaleLike.append((maleAvgTuple[0],maleAvgTuple[1]-femaleAvgTuple[1]))
    sortedDifFemaleLike.append((maleAvgTuple[0],femaleAvgTuple[1]-maleAvgTuple[1]))
sortedDifMaleLike = sorted(sortedDifMaleLike, key = lambda x: x[1])
sortedDifFemaleLike = sorted(sortedDifFemaleLike, key = lambda x: x[1])
sortedDifMaleLike.reverse()
sortedDifFemaleLike.reverse()

maleAvg = summationMale/countMale
femaleAvg = summationFemale/countFemale
print("The female avarage is", femaleAvg, "and the male avarage is", maleAvg)
print("men love women hate:", sortedDifMaleLike[0])
print("women love men hate:", sortedDifFemaleLike[0])

The female avarage is 2.9473684210526314 and the male avarage is 2.905511811023622
men love women hate: ('1198: Raiders of the Lost Ark (1981)', 1.6666666666666665)
women love men hate: ('2396: Shakespeare in Love (1998)', 2.107142857142857)