In [19]:
import pandas as pd

df = pd.read_csv('HW1-data.csv')
df.head()

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

### getting top 3 ratings

In [13]:

avaragesDict={}
for col in df:
    avaragesDict[col] = df[col].mean()
sortedList = sorted(avaragesDict.items(), key=lambda x: x[1])
sortedList.reverse()
sortedList=sortedList[1:-1]
sortedList[0:3]
#result of top rated:
#    (318: Shawshank Redemption, The (1994)',           3.6), 
#    ('260: Star Wars: Episode IV - A New Hope (1977)', 3.2666666666666666), 
#    ('541: Blade Runner (1982)',                       3.222222222222222

[('318: Shawshank Redemption, The (1994)', 3.6),
 ('260: Star Wars: Episode IV - A New Hope (1977)', 3.2666666666666666),
 ('541: Blade Runner (1982)', 3.2222222222222223)]

### getting top 3 most rated

In [10]:
countDict={}
for col in df:
    countDict[col] = df[col].count()
sortedCountList= sorted(countDict.items(), key = lambda x: x[1])
sortedCountList.reverse()
sortedCountList=sortedCountList[2:]
sortedCountList[0:3]
#results:
#('1: Toy Story (1995)', 17)
#('593: Silence of the Lambs, The (1991)', 16)
#('260: Star Wars: Episode IV - A New Hope (1977)', 15)

[('1: Toy Story (1995)', 17),
 ('593: Silence of the Lambs, The (1991)', 16),
 ('260: Star Wars: Episode IV - A New Hope (1977)', 15)]

### getting top 3 most highly liked (more % of 4+ ratings)

In [14]:
likedDict={}
for col in df:
    likedDict[col] = df[col][df[col]>3].count()
sortedLikedList = sorted(likedDict.items(), key = lambda x: x[1])
sortedLikedList = sortedLikedList[1:-1]
sortedLikedList.reverse()
sortedLikedList[0:3]

[('260: Star Wars: Episode IV - A New Hope (1977)', 8),
 ('593: Silence of the Lambs, The (1991)', 7),
 ('318: Shawshank Redemption, The (1994)', 7)]

### getting top 3 movies most rated by people who also rated star wars

In [17]:
coOcurrenceDict={}
for col in df:
    coOcurrenceDict[col] = df[col][pd.notnull(df['1: Toy Story (1995)'])].count()
sortedSimpleCorrelList = sorted(coOcurrenceDict.items(), key= lambda x: x[1])
sortedSimpleCorrelList = sortedSimpleCorrelList[0:-3]
sortedSimpleCorrelList.reverse()
sortedSimpleCorrelList[0:3]

[('260: Star Wars: Episode IV - A New Hope (1977)', 14),
 ('780: Independence Day (ID4) (1996)', 13),
 ('593: Silence of the Lambs, The (1991)', 13)]